 /*
 1.common css
 2.font import css
 3. header part css
  */
 * {
     margin: 0;
     padding: 0;
     outline: 0;
 }

 a {
     text-decoration: none;
 }

 img {
     vertical-align: middle;
 }

 .clr {
     clear: both;
 }

 ul,
 ol {
     list-style-type: none;
 }

 .full-wrapper {
     width: 100%;
 }

 .wrapper {
     width: 1170px;
     margin: 0 auto;
 }

 /* common css 
=========================== */
 .mr-30 {
     margin-right: 30px;
 }

 .mt-20 {
     margin-top: 20px;
 }

 /* =============all common css end============== */
 @font-face {
     font-family: 'releway';
     src: url(../fonts/raleway/Raleway-Bold.ttf);
 }

 @font-face {
     font-family: 'relaway-regular';
     src: url(../fonts/raleway/Raleway-Regular.ttf);
 }

 /* =============fonts inport  end============== */

 .header {
     height: 100px;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     z-index: 9999;
     background: #2b2e4a6b;
 }

 .header .logo {
     width: 270px;
     line-height: -66px;
     float: left;
     padding-top: 37px;
 }

 .header .menu {
     width: 900px;
     float: left;
     text-align: center;

 }

 .header .menu ul li {
     display: inline-block;
 }

 .header .menu ul li a {
     padding: 0 30px;
     line-height: 100px;
     font-family: 'releway';
     font-size: 13px;
     font-weight: 700;
     text-transform: uppercase;
     color: #ffffff;
     display: block;
     transition: all linear.4s;
     -webkit-transition: all linear.4s;
     -moz-transition: all linear.4s;
     -ms-transition: all linear.4s;
     -o-transition: all linear.4s;
 }

 .header .menu ul li :hover {
     color: aqua;
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }

 /* =============header  end============== */
 .banner {
     background-image: url(../images/banner.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     /* padding-top: 255px;
    padding-bottom: 157px; */
     height: 750px;
     position: relative;
     z-index: 1;
 }

 .banner::before {
     background: #2b2e4a;
     opacity: 95%;
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     z-index: -3;
 }

 .banner-text {
     text-align: center;
     padding-top: 255px;
 }

 .banner-text h1 {

     font-family: 'Open Sans', sans-serif;
     font-size: 65px;
     font-weight: 400px;
     line-height: 71px;
     color: #fff;
     padding-right: 125px;
     padding-left: 125px;
     text-transform: uppercase;
 }

 .banner-text p {
     font-family: 'relaway-regular';
     font-weight: 400;
     font-size: 22px;
     font-weight: 700px;
     color: #fff;
     padding-right: 100px;
     padding-left: 100px;
     padding-top: 19px;
     line-height: 33px;
     padding-bottom: 86px;
 }

 .banner-text a {
     padding: 19px 52px;
     text-transform: uppercase;
     font-family: 'relaway-regular';
     background: #1dbb64;
     border-radius: 1px;
     -webkit-border-radius: 1px;
     -moz-border-radius: 1px;
     -ms-border-radius: 1px;
     -o-border-radius: 1px;
     -webkit-border-radius: 1px;
     transition: all linear .4s;
     -webkit-transition: all linear .4s;
     -moz-transition: all linear .4s;
     -ms-transition: all linear .4s;
     -o-transition: all linear .4s;
 }

 .banner-text a:hover {
     background: #e84545;
 }

 /* service part start 
======================*/
 .service-bg {
     height: 520px;
     background: #ffffff;
     padding-top: 120px;
     padding-bottom: 120px;
 }

 .service-bg .service {
     height: 520px;
     background: #ffffff;
 }

 .service-bg .service .service-item {
     height: 250px;
     width: 370px;
     background: #fff;
     float: left
 }

 .service-bg .service .service-item {
     text-align: center;

 }

 .service-bg .service .service-item h3 {
     color: #2d3033;
     text-transform: uppercase;
     font-family: 'relaway-regular';
     font-size: 14px;
     padding-top: 28px;
 }

 .service-bg .service .service-item p {
     padding-top: 26px;
     font-size: 14px;
     font-family: 'relaway-regular';
     padding: 26px 33px;
     color: #6c7279;
 }

 /* item div start   
==================== */
 .g-item {
     width: 25%;
     float: left;
     position: relative;
 }

 .g-item::before {
     position: absolute;
     content: '';
     height: 100%;
     width: 0;
     background: #df4b4db9;
     float: left;
     top: 0;
     left: 0;
     opacity: 0;
     visibility: hidden;
     transition: all linear.4s;

 }

 .g-item::after {
     position: absolute;
     content: '';
     height: 100%;
     width: 0;
     background: #df4b4db9;
     float: left;
     top: 0;
     right: 0;
     opacity: 0;
     visibility: hidden;
     transition: all linear.4s;
     -webkit-transition: all linear.4s;
     -moz-transition: all linear.4s;
     -ms-transition: all linear.4s;
     -o-transition: all linear.4s;
 }

 .g-item img {

     width: 100%;

 }

 .g-item .item-text {
     text-align: center;
     position: absolute;
     width: 100%;
     height: 42px;
     top: 50%;
     left: 0;
     z-index: 999;
     opacity: 0;
     visibility: hidden;
     transform: translateY(-50%);
     -webkit-transform: translateY(-50%);
     -moz-transform: translateY(-50%);
     -ms-transform: translateY(-50%);
     -o-transform: translateY(-50%);
 }

 .g-item:hover .item-text {
     opacity: 1;
     visibility: visible;
 }

 .g-item .item-text p {
     color: #fff;
     font-family: 'relaway-regular';
     font-size: 14px;
     text-transform: uppercase;
     padding-bottom: 10px;
 }

 .g-item .item-text h6 {
     color: #fff;
     font-family: 'relaway-regular';
     font-size: 14px;
 }

 .g-item:hover:after {
     width: 50%;
     opacity: 1;
     visibility: visible;
 }

 .g-item:hover::before {
     width: 50%;
     opacity: 1;
     visibility: visible;
 }

 /* feetback start  */
 .feetback {
     height: 580px;
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .feetback-div-one {
     height: 580px;
     width: 270px;
     float: left;

 }

 .feetback-div-one img {
     width: 100%;
 }

 .feetback-div-one h3 {
     font-family: 'relaway-regular';
     font-size: 22px;
     color: #2d3033;
     padding-top: 30px;
 }

 .feetback-div-one h4 {
     color: #e84545;
     padding-top: 15px;
     font-size: 13Px;
     font-family: 'relaway-regular';
     text-transform: uppercase;

 }

 .feetback-div-one p {
     color: #6c7279;
     font-size: 12px;
     font-family: 'relaway-regular';
     padding-top: 30px;
     padding-right: 11px;
     line-height: 21px;

 }

 .feetback-div-one a i {
     height: 40px;
     width: 40px;
     border: 1px solid #e8ecee;
     margin-top: 31px;
     color: #c6cacc;
     text-align: center;
     line-height: 40px;

 }

 /* motamot patr start 
 ============================== */
 .motamot-bg {
     background: #53354a;
     height: 500px;
     position: relative;
     z-index: 1;
 }

 .motamot-bg ::after {
     position: absolute;
     content: '';
     height: 100%;
     width: 50%;
     background-image: url(../images/motamot.jpg);
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
     top: 0;
     left: 0;
     z-index: -1;
 }

 .motamot-bg .motamot {
     height: 100%;
 }

 .motamot-bg .motamot .motamot-text {
     height: 500px;
     width: 500px;
     background: #000;
     float: right;
     color: #fff;
     position: relative;
 }

 .motamot-bg .motamot .motamot-text p {
     padding-top: 105px;
     font-family: 'Cardo', serif;
     font-style: italic;
     font-size: 36px
 }

 .motamot-bg .motamot .motamot-text h6 {
     font-size: 13px;
     font-family: 'Cardo', serif;
     font-weight: 700;
     text-transform: uppercase;
     padding-top: 22px;
 }
 .motamot-bg .motamot .motamot-text ul{
     position: absolute;
     left: 50%;
     bottom: 105px;
     transform: translateX(-50%);
     -webkit-transform: translateX(-50%);
     -moz-transform: translateX(-50%);
     -ms-transform: translateX(-50%);
     -o-transform: translateX(-50%);
}
 .motamot-bg .motamot .motamot-text ul li{
     height: 12px;
     width: 12px;
     margin-right: 8px;
     float: left;
     background: #ffff;
     border-radius: 50%;
     -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
     -ms-border-radius: 50%;
     -o-border-radius: 50%;
}


